@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-w-min bg-bg text-fg;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-xl font-bold my-4;
}

h3 {
  @apply text-lg text-[1.05rem] font-bold my-2;
}

hr {
  @apply w-full mx-auto my-8 text-dark-fg opacity-50;
}

form hr {
  @apply my-6;
}

.book-section {
  @apply flex flex-col sm:flex-row flex-wrap;
}

.epilogue {
  @apply mt-12;
}

footer {
  @apply mb-4;
}

input[type="text"],
input[type="email"],
select {
  @apply bg-bg mb-4 px-2 py-1 border-light-fg border rounded-sm;
}

form input,
form select {
  @apply max-w-sm;
}

.switch {
  --switch-width: 40px;
  width: var(--switch-width);
  @apply h-6 rounded-full flex cursor-pointer transition-colors ease-linear;
}

.switch.off {
  @apply bg-pri;
}

.switch.on {
  @apply bg-fg;
}

.switch .switch-indicator {
  --switch-indicator-width: 24px;
  width: var(--switch-indicator-width);
  @apply h-6 border-2 rounded-full transition-all;
}

.switch.off .switch-indicator {
  @apply bg-fg border-pri;
}

.switch.on .switch-indicator {
  transform: translateX(
    calc(var(--switch-width) - var(--switch-indicator-width))
  );
  @apply bg-bg border-fg;
}

.btn {
  line-height: normal;
  @apply bg-pri mx-auto font-bold text-center flex items-center justify-center py-2 rounded cursor-pointer;
}

.btn:disabled,
.btn[disabled="true"] {
  @apply bg-dark-pri text-dark-fg cursor-not-allowed;
}

table tbody tr td {
  @apply border-2 p-4;
}

table tfoot {
  @apply p-4 inline-block text-center;
}

.author {
  @apply font-bold italic;
}
